/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #1f9aff;
    --sec-color: #1e144f;
    --black: #18181d;
    --red: #e42e29;
    --section-color: #f6f7fb;
    --section-bg: #f6f7fb;
    --section-margin: 100px;
    --section-padding: 40px;
    --btn-hover: #0f74c7;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

body {
    font-family: 'Poppins', sans-serif;
}

.product {
    margin-bottom: 15px;
}


/* Start Header */

header {
    height: 100vh;
    background-position: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fffcf7;
    /* background-image: url("../images/landing.png"); */
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    display: inline-block;
    padding: 15px;
}

header nav ul li a:hover {
    padding-left: 10px;
    padding-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--sec-color);
    font-size: 16px;
    font-weight: 400;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

header nav .logo img {
    width: 70px;
    height: 70px;
}

header nav .cart {
    border: none;
    background-color: var(--main-color);
    color: whitesmoke;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-align: center;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header nav .cart:hover {
    background-color: var(--btn-hover);
}

header nav .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    display: none;
}

header nav .icon span {
    background-color: var(--main-color);
    margin-bottom: 5px;
    height: 3px;
    width: 100%;
}

header nav .icon span:first-child {
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

header nav .icon span:nth-child(2) {
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

header nav .icon span:last-child {
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}


/* header nav .links:hover ul {
    display: block;
} */

header nav .icon:hover span:nth-child(3) {
    width: 70%;
}

header nav .icon:hover span:nth-child(2) {
    width: 50%;
}

header nav .icon:hover span:nth-child(1) {
    width: 40%;
}

@media (max-width: 991px) {
    header nav .icon {
        display: flex;
    }
    header nav ul {
        display: none;
    }
    header nav .links ul {
        all: unset;
    }
    header nav .links ul {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style: none;
        gap: 10px;
        background-color: var(--sec-color);
        color: var(--secondry);
        width: 100%;
        height: 100vh;
        z-index: 11;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        opacity: 0.9;
    }
    header nav .links ul li a {
        color: var(--main-color);
        font-weight: bold;
    }
    body {
        position: relative;
    }
    header nav .links ul li:last-child a {
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    header nav .links ul li:not(:last-child) a {
        border-bottom: 1px solid var(--main-color);
        padding: 10px 0;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    header nav .links ul li a {
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    header nav .links ul li a:hover {
        padding-left: 20px;
    }
}

.visible-menu {
    display: flex !important;
}

.landing {
    padding-top: 90px;
    height: calc(100vh - 75px);
}

.landing .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .landing .container {
        grid-template-columns: 1fr;
    }
    .landing .container .image {
        display: none;
    }
}


/* 
@media (max-width: 770px) {
    .popular {
        margin-top: 325px;
    }
}

@media (max-width: 400px) {
    .popular {
        margin-top: 30px;
    }
} */

.landing .image img {
    max-width: 100%;
}

.landing .info h1 {
    color: var(--sec-color);
    font-weight: 800;
    font-size: 40px;
    margin: 0;
    margin-bottom: 20px;
}

.landing .info p {
    line-height: 1.8;
}

.landing .info input[type="search"] {
    border: none;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px -10px #a5a5a5, -12px -7px 10px -10px #a5a5a5;
    margin-top: 30px;
    display: block;
    width: 100%;
}

.landing .info button {
    border: none;
    box-shadow: 10px 10px 10px -10px #a5a5a5, -12px -7px 10px -10px #a5a5a5;
    background-color: var(--main-color);
    color: whitesmoke;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.landing .info button:hover {
    background-color: #0f74c7;
    color: white;
}

.landing .info .search {
    position: relative;
}

.landing .info .search span {
    justify-content: center;
    cursor: pointer;
    color: var(--main-color);
    position: absolute;
    /* left: 295px; */
    background-color: var(--main-color);
    color: whitesmoke;
    top: 0px;
    padding: 3px;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center;
    width: 50px;
    right: 0;
}

.landing .info .search span:hover {
    background-color: #3a2891;
    color: white;
}

@media (max-width: 767px) {
    .landing .info h1 {
        font-size: 35px;
    }
}

@media (max-width: 696px) {
    .landing .info h1 {
        font-size: 25px;
    }
}

@media (max-width: 400px) {
    .landing .info h1 {
        font-size: 25px;
    }
}


/* 
@media (min-width: 767px) {
    .landing .info input[type="search"] {
        width: unset;
    }
    .landing .info .search span {
        left: 230px;
        right: unset;
    }
} */

@media (max-width: 1030px) {
    section.landing .image img {
        max-width: 100%;
        height: auto;
    }
}


/* Start Popular */

section.popular {
    background-color: var(--section-bg);
    padding: var(--section-padding);
    padding-top: var(--section-margin);
}

.popular h1 {
    color: var(--sec-color);
    margin: 0;
    text-align: center;
}

.products {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    place-items: center;
}

@media (max-width: 400px) {
    .products {
        padding: 0;
    }
    .info {
        text-align: center;
    }
}

.products .product {
    padding: 20px;
}

.product .image {
    background-color: var(--primary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 170px;
    padding: 10px 10px;
    box-shadow: 3px 4px 5px, -1px 1px 4px, 1px -2px 0px, inset 1px -2px 1px #282828;
}

.product .details {
    background-color: var(--bg);
    padding: 0px 5px;
    box-shadow: 3px 4px 5px, -1px 1px 4px, 1px -2px 0px, inset 1px -2px 1px #282828;
}

.product .details p:first-child {
    color: var(--sec-color);
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 10px;
}

.product .details .price-box {
    padding: 10px;
    font-weight: bold;
    color: var(--sec-color);
}

.products .product .image:hover::after {
    background-color: var(--sec-color);
}

.products * {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.product .details .price-box del {
    font-size: 10px;
}

.product .add-to-cart {
    background-color: var(--main-color);
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    width: 100%;
    border: none;
    box-shadow: 3px 4px 5px, -1px 1px 4px, 1px -2px 0px, inset 1px -2px 1px #282828;
    cursor: pointer;
}


/*  .product:hover .details
{
    background-color: #2d2d2d;
}

 .product:hover .image{
    background-color: #535353;
}
} */

.product .add-to-cart:hover {
    background-color: var(--btn-hover);
}

.product .add-to-cart i {
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}

.product .image img {
    width: 150px;
}

.popular .pagination {
    padding: 10px;
    text-align: center;
}

.popular .pagination button {
    background: none;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: inset -9px -6px 12px 0px #a5a5a5;
    cursor: pointer;
}

.popular .pagination button span {
    font-size: 13px;
}

.popular .pagination .prev {
    background-color: white;
    color: var(--main-color);
}

.popular .pagination .next {
    background-color: var(--main-color);
    color: white;
}

.popular .pagination .prev:hover {
    background-color: #fbdbdb;
}

.popular .pagination .next:hover {
    background-color: #2374b7;
}


/* End Popular */


/* Start Features */

section.features {
    background-color: var(--section-bg);
    padding: var(--section-padding);
}

.features .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:1290px) {
    .features .container {
        flex-direction: column;
    }
}

.features .container .card {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: calc(50% - 15px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.features .container .card .text h1 {
    color: var(--sec-color);
    font-size: 40px;
    margin: 0;
}

@media (max-width: 400px) {
    .features .container .card .text h1 {
        font-size: 25px;
    }
}

.features .container .card .text p {
    line-height: 1.8;
    color: #726c90;
    margin-top: 30px;
}

.features .container .card .text button {
    border: none;
    box-shadow: 10px 10px 10px -10px #a5a5a5, -12px -7px 10px -10px #a5a5a5;
    background-color: var(--main-color);
    color: whitesmoke;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.features .container .card .text button:hover {
    background-color: #0f74c7;
    color: white;
}

.features .container .card .text {
    width: 70%;
}

@media (max-width:698px) {
    .features .container {
        flex-direction: column;
    }
    .features .container .card {
        width: 100%;
    }
}

@media (max-width: 1260px) {
    .features .container .card {
        flex-direction: column;
    }
    .features .container .card .image {
        margin-top: 20px;
    }
}

@media (max-width:1080px) {
    .features .container {
        flex-direction: column;
    }
    .features .container .card {
        width: 100%;
    }
}

@media (max-width:1130px) {
    .features .container .card {
        width: 100%;
    }
}


/* End Features */


/* Start Browse */

section.browse {
    background: white;
    margin-top: var(--section-margin);
    padding: var(--section-padding);
}

.browse .container>h1 {
    color: var(--sec-color);
    font-size: 40px;
    margin: 0;
    text-align: center;
}

@media(max-width:400px) {
    .browse .container>h1 {
        font-size: 25px;
    }
}

.browse .cats_btns {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--section-bg);
    padding: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1080px) {
    .browse .cats_btns {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .browse .cats_btns button {
        margin: 10px;
    }
}

.browse .cats_btns button {
    margin-left: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--main-color);
    border-color: transparent;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.browse .cats_btns button i {
    margin-right: 10px;
}

.browse .cats_btns button.active {
    background-color: var(--main-color);
    color: white;
}

.browse .cats_btns button:not(.active):hover {
    background-color: var(--main-color);
    color: white;
}

.browse .cats_btns button.active:hover {
    background-color: white;
    color: var(--main-color);
}


/* End Browse */


/* Start Reviews */

.reviews {
    background-color: white;
    padding: var(--section-padding);
    margin-top: var(--section-margin);
}

.reviews .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reviews h1 {
    color: var(--sec-color);
    font-size: 40px;
    margin: 0;
    text-align: center;
    margin-bottom: 50px;
}

.reviews .review_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--section-bg);
    padding: 20px;
    border-color: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    width: 70%;
    box-shadow: 0px 0px 4px 12px var(--black);
    border-radius: 0px;
}

.reviews .review_card .btns {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 17px;
}

.reviews .review_card .btns span {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* .reviews .review_card::after{
    content: '';
    background-color: var(--black);
    position: absolute;
    width: calc(100% + 100px);
    height: 100%;
    left: -30px;
    bottom: -160px;
    z-index: -1;
} */

.reviews .review_card .image {
    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .review_card .image img {
    max-width: 100%;
    max-height: 100%;
}

.reviews .review_card .text {
    width: 60%;
}

.reviews .review_card .text>p {
    color: var(--sec-color);
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 1px;
}

.reviews .review_card .text .author {
    color: var(--sec-color);
    font-size: 18px;
    display: inline;
}

.reviews .review_card .text .job {
    color: var(--sec-color);
    font-weight: 200;
    font-size: 14px;
}

@media(max-width:700px) {
    .reviews h1 {
        font-size: 25px;
    }
    .reviews .review_card {
        padding-bottom: 40px;
    }
    .reviews .review_card .image {
        display: none;
    }
    .reviews .review_card .text {
        width: 100%;
        height: 300px;
        overflow: hidden;
        word-break: break-all;
    }
}


/* End Reviews */


/* Start Footer */

footer {
    background-color: var(--section-bg);
    padding: 10px var(--section-padding);
    margin-top: var(--section-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 121;
}

footer .left .logo img {
    width: 70px;
    height: 70px;
}

footer .right .links ul {
    list-style: none;
}

footer .right .links ul li {
    margin-left: 15px;
    display: inline-flex;
}

footer .right .links ul li a {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    background-color: var(--main-color);
    color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 10px;
}

footer .right .links ul li:hover a {
    background-color: var(--btn-hover);
}

footer .right .social {
    text-align: end;
    margin-top: 10px;
    color: var(--secondry);
    display: flex;
    justify-content: end;
    align-items: center;
}


/* End Footer */
